<nav class="flex items-center justify-between bg-gray-800 p-4 px-6  gap-4">
    <a href="/" class="logo w-auto mr-2 font-serif font-semibold text-white text-xl">CheckGames</a>

    <div class="grow flex items-center justify-end gap-8 w-auto text-lg">
        <ul class="flex space-x-4">
            <li><a href="#" class="text-white hover:text-gray-300">How to Play</a></li>
            <li><a href="#" class="text-white hover:text-gray-300">About</a></li>
            <li><a href="#" class="text-white hover:text-gray-300">Team</a></li>
        </ul>
        <button
            class="w-fit bg-white transition-colors hover:bg-indigo-700 text-indigo-500 hover:text-white font-bold py-2 px-4 rounded">
            PLAY NOW
        </button>
    </div>
</nav>