<nav id="navbar" class="flex items-center flex-col md:flex-row justify-between bg-gray-800 p-4 px-6  gap-4">
    <a href="/" class="logo w-auto mr-2 font-serif font-semibold text-white text-2xl">CheckGames</a>

    <div class="group">
        <!-- <a href="#" target="_self" class="md:hidden text-white">SHOW</a> -->
        <div class=" grow flex items-center flex-col md:flex-row justify-end gap-10 w-auto text-xl font-semibold">
            <ul class="flex space-x-6 flex-col md:flex-row">
                <li><a href="#howToPlay" class="text-white hover:text-gray-300 scroll-smooth">How to Play</a></li>
                <li><a href="#about" class="text-white hover:text-gray-300">About</a></li>
                <li><a href="#team" class="text-white hover:text-gray-300">Team</a></li>
            </ul>
            <app-button (onClick)="handlePlayNow()">PLAY NOW</app-button>
        </div>
    </div>
</nav>