<!-- navbar-component -->
<app-navbar></app-navbar>
<div class="header flex bg-gray-800 overflow-hidden">
    <div class="pt-36 pb-10 pl-12 w-7/12 grid grid-cols-1 auto-rows-min justify-items-start gap-y-4">
        <h1 class="text-8xl font-bold text-white text-balance">
            Unleash Your Card Game in {{title}}!
        </h1>
        <p class="text-3xl text-gray-300 mt-10">
            Play a simple card game and compete with other players.
            Are you ready to dominate the arena?
        </p>
        <div class="flex justify-between gap-6 mt-4">
            <app-button className="text-3xl px-8 py-4" disabled>PLAY NOW</app-button>
            <app-button
                className="text-3xl px-8 py-4 bg-transparent border border-white text-gray-100 hover:border-indigo-700">How
                to
                Play</app-button>
        </div>
    </div>
    <div class="hero-wrapper w-6/12">
        <img class="h-full transition scale-105 w-full translate-x-1 hover:-translate-x-2 hover:-translate-y-1 hover:sepia"
            src="/assets/img/hero-img.png" alt="A playing card">
    </div>
</div>

<!-- How to play section -->
<div class="how-to-play bg-gray-100 py-20">
    <div class="container mx-auto px-6">
        <div class="flex flex-col items-center gap-4">
            <app-button className="text-xl px-8" [disabled]="true">How to Play</app-button>
            <h2 class="text-4xl font-bold text-gray-800">CheckGames Gameplay</h2>
            <p class="text-lg text-gray-600 mt-4">
                Learn how to play the card game and dominate the arena.
            </p>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-8">
            <app-card [style]="cardStyles.Default">
                <img class="h-72 relative group-hover:scale-105 transition" src="/assets/img/howto-0.png" alt="Step 3">
                <h3 class="text-2xl font-bold">Each player starts with 5 cards</h3>
            </app-card>
            <app-card [style]="cardStyles.Default">
                <img class="h-72 relative group-hover:scale-105 transition" src="/assets/img/howto-1.png" alt="Step 3">
                <h3 class="text-2xl font-bold">Players take turns drawing and playing cards</h3>
            </app-card>
            <app-card [style]="cardStyles.Default">
                <img class="h-72 relative group-hover:scale-105 transition" src="/assets/img/howto-3.png" alt="Step 3">
                <h3 class="text-2xl font-bold">The game ends when a player's hand reach zero.</h3>
            </app-card>
            <app-card [style]="cardStyles.Default">
                <img class="h-72 relative group-hover:scale-105 transition" src="/assets/img/howto-4.png" alt="Step 3">
                <h3 class="text-2xl font-bold">The player with no remaining cards is the winner.</h3>
            </app-card>
        </div>
    </div>
</div>

<section class="py-20 bg-gray-800">
    <div class="container mx-auto px-8">
        <h2 class="text-3xl font-bold text-center text-gray-100 mb-8">About CheckGames</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            <div class="bg-white p-6 rounded-lg shadow-lg">
                <h3 class="text-2xl font-bold mb-4">Our Mission</h3>
                <p class="text-gray-600">To bring joy and entertainment through an engaging card game experience.</p>
            </div>
            <div class="bg-white p-6 rounded-lg shadow-lg">
                <h3 class="text-2xl font-bold mb-4">Our Story</h3>
                <p class="text-gray-600">CheckGames was born from a passion for strategic card games. Founded by a group
                    of friends who love gaming and wanted to create something special.</p>
            </div>
            <div class="bg-white p-6 rounded-lg shadow-lg">
                <h3 class="text-2xl font-bold mb-4">Our Values</h3>
                <ul class="list-disc list-inside text-gray-600">
                    <li><span class="font-bold">Creativity:</span> We believe in the power of imagination.</li>
                    <li><span class="font-bold">Community:</span> We strive to build a friendly and inclusive gaming
                        community.</li>
                    <li><span class="font-bold">Excellence:</span> We are committed to delivering the best gaming
                        experience possible.</li>
                </ul>
            </div>
        </div>

        <h2 class="text-3xl font-bold text-center text-gray-100 my-12">Testimonials</h2>
        <div class="relative w-full px-6 ">
            <div #carousel class="flex justify-start flex-auto flex-grow gap-4 overflow-hidden snap-x snap-mandatory ">
                <div class="testimonial min-w-96 flex-1 snap-start p-6 bg-gray-100 rounded-lg shadow-lg mx-2">
                    <p class="text-gray-600 mb-4">"CheckGames is amazing! I love playing it every day."</p>
                    <p class="font-bold text-gray-800">- Alice</p>
                </div>
                <div class="testimonial min-w-96 flex-grow snap-start p-6 bg-gray-100 rounded-lg shadow-lg mx-2">
                    <p class="text-gray-600 mb-4">"The best card game I've ever played. Highly recommended!"</p>
                    <p class="font-bold text-gray-800">- Bob</p>
                </div>
                <div class="testimonial min-w-96 snap-start p-6 bg-gray-100 rounded-lg shadow-lg mx-2">
                    <p class="text-gray-600 mb-4">"Fun and engaging! The community is great too."</p>
                    <p class="font-bold text-gray-800">- Charlie</p>
                </div>
                <div class="testimonial min-w-96 snap-start p-6 bg-gray-100 rounded-lg shadow-lg mx-2">
                    <p class="text-gray-600 mb-4">"I can't get enough of CheckGames. It's so much fun!"</p>
                    <p class="font-bold text-gray-800">- Dave</p>
                </div>
                <div class="testimonial min-w-96 snap-start p-6 bg-gray-100 rounded-lg shadow-lg mx-2">
                    <p class="text-gray-600 mb-4">"A must-play game for all card game enthusiasts."</p>
                    <p class="font-bold text-gray-800">- Eve</p>
                </div>
            </div>
            <button (click)="scrollLeft()"
                class="absolute -left-3 top-1/2 transform -translate-y-1/2 bg-gray-100 text-gray-800 p-2 px-3 rounded-full shadow-lg">‹</button>
            <button (click)="scrollRight()"
                class="absolute -right-3 top-1/2 transform -translate-y-1/2 bg-gray-100 text-gray-800 p-2 px-3 rounded-full shadow-lg">›</button>
        </div>
    </div>
</section>

<section class="py-12 bg-gray-100">
    <div class="container mx-auto px-6">
        <h2 class="text-3xl font-bold text-center text-gray-800 mb-8">Meet the Team</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <div class="bg-white p-6 rounded-lg shadow-lg text-center">
                <img class="w-32 h-32 rounded-full mx-auto mb-4" src="/assets/img/profile-1.png" alt="Ali Dalyl">
                <h3 class="text-2xl font-bold mb-2">Ali Dalyl</h3>
                <p class="text-gray-600 mb-4">Founder & CEO</p>
                <p class="text-gray-600">Passionate about card games since childhood, John founded CheckGames to share
                    his passion with the world.</p>
            </div>
            <div class="bg-white p-6 rounded-lg shadow-lg text-center">
                <img class="w-32 h-32 rounded-full mx-auto mb-4" src="/assets/img/profile-2.png"
                    alt="Francklin Signe Mbe">
                <h3 class="text-2xl font-bold mb-2">Francklin Signe Mbe</h3>
                <p class="text-gray-600 mb-4">Lead Developer</p>
                <p class="text-gray-600">A talented developer with over 10 years of experience, Jane designed the unique
                    game engine for CheckGames.</p>
            </div>
        </div>
    </div>
</section>